#vertical-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.vertical-nav-item {
  font-size: 1rem;
}

.vertical-nav-item.flex {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}

.vertical-nav-icon {
  width: 1rem;
  height: 1rem;
}
